<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInstitutionUnityLabel" jhiTranslate="webappApp.institutionUnity.home.createOrEditLabel">Create or edit a Institution Unity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jee-alert-error></jee-alert-error>
        <div class="form-group" [hidden]="!institutionUnity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="institutionUnity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="webappApp.institutionUnity.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="institutionUnity.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="webappApp.institutionUnity.adress" for="field_adress">Adress</label>
            <input type="text" class="form-control" name="adress" id="field_adress"
                [(ngModel)]="institutionUnity.adress"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="webappApp.institutionUnity.educationalInstitution" for="field_educationalInstitution">Educational Institution</label>
            <select class="form-control" id="field_educationalInstitution" name="educationalInstitution" [(ngModel)]="institutionUnity.educationalInstitution" >
                <option [ngValue]="null"></option>
                <option [ngValue]="educationalInstitutionOption.id === institutionUnity.educationalInstitution?.id ? institutionUnity.educationalInstitution : educationalInstitutionOption" *ngFor="let educationalInstitutionOption of educationalinstitutions; trackBy: trackEducationalInstitutionById">{{educationalInstitutionOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
