
<div *ngIf="educationalInstitution">
    <h2><span jhiTranslate="webappApp.educationalInstitution.detail.title">Educational Institution</span> {{educationalInstitution.id}}</h2>
    <hr>
    <jee-alert-error></jee-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="webappApp.educationalInstitution.name">Name</span></dt>
        <dd>
            <span>{{educationalInstitution.name}}</span>
        </dd>
        <dt><span jhiTranslate="webappApp.educationalInstitution.logoUrl">Logo Url</span></dt>
        <dd>
            <span>{{educationalInstitution.logoUrl}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'educational-institution/'+ educationalInstitution.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
